html {
  background-color: #f1f6fd;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0px;
}

h3 {
  margin-top: 0px;
}

a,
a:visited {
  transition: 0.33s;
  color: #0f4d66;
}

a:hover {
  transition: 0.33s;
  color: #28e2ba;
}

a:active {
  transition: 0.33s;
  color: #f048ff;
}

.bold {
  font-weight: bold;
}

.dateline {
  font-style: italic;
  font-size: x-small;
  color: rgb(48, 48, 48);
}
